*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
**/build/
/captures
.externalNativeBuild
.cxx
local.properties
*.keystore
*.jks
*.key
key.properties
secrets.properties
**/google-services.json
**/api-keys.properties
.cxx/
*.apk
*.aab
*.ap_
*.dex
